<table>
<tr>
<td>
LexToken(PRINT,'println!',1,44)
</td>

<td>
LexToken(OPEN_PARANTHESIS,'(',1,52)
</td>

<td>
LexToken(SENTENCE,'"Hello, World"',1,53)
</td>

<td>
LexToken(CLOSE_PARANTHESIS,')',1,67)
</td>

<td>
LexToken(SEMICOLON,';',1,68)
</td>

</tr>
<tr>
<td>
non_block_stmt
</td>

</tr>
<tr>
<td>
LexToken(FOR,'for',1,26)
</td>

<td>
LexToken(ident,'i',1,30)
</td>

<td>
LexToken(IN,'in',1,32)
</td>

<td>
LexToken(LIT_INTEGER,1,1,35)
</td>

<td>
LexToken(D_DOT,'..',1,36)
</td>

<td>
LexToken(LIT_INTEGER,10,1,38)
</td>

<td>
LexToken(BEGIN_BLOCK,'{',1,40)
</td>

<td>
stmts
</td>

<td>
LexToken(END_BLOCK,'}',1,71)
</td>

</tr>
<tr>
<td>
for_block
</td>

</tr>
<tr>
<td>
block_stmt
</td>

</tr>
<tr>
<td>
non_block_stmt
</td>

<td>
stmts
</td>

</tr>
<tr>
<td>
LexToken(FN,'fn',1,0)
</td>

<td>
LexToken(MAIN_FUN,'main',1,3)
</td>

<td>
LexToken(OPEN_PARANTHESIS,'(',1,7)
</td>

<td>
LexToken(CLOSE_PARANTHESIS,')',1,8)
</td>

<td>
LexToken(BEGIN_BLOCK,'{',1,9)
</td>

<td>
stmts
</td>

<td>
LexToken(END_BLOCK,'}',1,73)
</td>

</tr>
<tr>
<td>
main_fun
</td>

</tr>
<tr>
<td>
ProgramFile
</td>

</tr>
</table>
